@import "tailwindcss";
@import "./style/animatedCheckbox.css";
@import "./style/not-found.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-ketab-bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ketab-green: #5e942b;
  --color-ketab-dark-yellow: #e19b20;
  --color-ketab-bg: #131313;
  --color-ketab-dark: #1e1f20;
  --color-ketab-light: #282a2c;
  --color-ketab-white: #eee;
  --color-ketab-gray: #81828c;
  --color-ketab-red: #b53737;
  --color-ketab-orange: #d14900;
}

/* ✅ Keyframes must be defined outside @theme */
@keyframes float {
  0% {
    transform: translateY(-70px);
  }
  50% {
    transform: translateY(-19px);
  }
  100% {
    transform: translateY(-70px);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ✅ Register animation as Tailwind utility */
@utility animate-float {
  animation: float 3s infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-ketab-bg);
    --foreground: var(--color-ketab-white);
  }
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
body {
  background: var(--background);
  color: var(--color-ketab-white);
  font-family: var(--font-iranyekan), sans-serif;
}

.container {
  @apply px-[10%] min-w-full;
}
